<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="idu.stenden.inf1i.homewizard">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Managelights"
            android:label="@string/title_activity_managelights"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="idu.stenden.inf1i.homewizard.MainActivity" />
        </activity>
        <activity
            android:name=".AddChoice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddHomewizardlight"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddCustomMqtt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpPage"
            android:screenOrientation="portrait" />
        <activity android:name=".FirstTimeTetup" />
        <activity android:name=".SetupStep2" />
        <activity android:name=".SetupStep3"></activity>
    </application>

</manifest>